<div class="flexbox-container">
    <div style="width: 500px;">
         <input type="text" placeholder="Insert new topics" id="input-field">
    </div>
    <div> <input type="submit" id="submit-btn" class="button secondary" value="Submit"></div>
</div>