<ul class ="haha">
    {{#each topics}}
        <li>
            <div class="resize">
                <div class="callout clearfix">
                    <a>{{this}}</a>
                    <a class="button float-right">5 Votes</a>
                    <a class="button float-right">Downvote</a>
                    <a class="button float-right">Upvote</a>
                </div>
            </div>
        </li>
    {{/each}}
</ul>