<li>
    <div class="resize">
        <div class="callout clearfix">
            <a>{{topic}}</a>
            <a class="button float-right">{{votes}} Votes</a>
            <a class="button float-right">Downvote</a>
            <a class="button float-right">Upvote</a>
        </div>
    </div>
</li>